doctype html
html(lang="en")

head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")

	link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet")

	link(rel="stylesheet" href="css/icon-font.css")
	link(rel="stylesheet" href="css/style.css")
	link(rel="shortcut icon" type="image/png" href="img/favicon.png")

	title Natours | Exciting tours for adventurous people

body
	.navigation
		input.navigation__checkbox#nav-toggle(type="checkbox")
		label.navigation__button(for="nav-toggle")
			span.navigation__icon &nbsp;
		.navigation__background &nbsp;
		nav.navigation__nav
			ol.navigation__list
				li.navigation__item
					a.navigation__link(href="#")
						span 01
						| About Natours
				li.navigation__item
					a.navigation__link(href="#")
						span 02
						| Your benefits
				li.navigation__item
					a.navigation__link(href="#")
						span 03
						| Popular tours
				li.navigation__item
					a.navigation__link(href="#")
						span 04
						| Stories
				li.navigation__item
					a.navigation__link(href="#")
						span 05
						| Book now
	header.header
		div.header__logo-box
			img.header__logo(src="/img/logo-white.png" alt="Logo")

		div.header__text-box
			h1.heading-primary
				span.heading-primary--main Outdoors
				span.heading-primary--sub is where life happens
			a.btn.btn--white.btn--animated(href="#") Discover our tours
	main
		section.section-about
			.u-center-class.u-margin-bottom-big
				h2.heading-secondary Exciting tours for adventurous people
			.row
				.col-1-of-2
					h3.heading-tertiary.u-margin-bottom-small You're going to fall in love with nature
					p.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam obcaecati modi at iusto sed. Architecto harum cupiditate nam magnam, quis ullam, dolorem eveniet veritatis deleniti quidem id molestias, porro optio.

					h3.heading-tertiary.u-margin-bottom-small Live adventures like you never have before
					p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nulla iusto sunt molestiae amet at est sequi, facilis doloribus.
					a.btn-text(href="#") Learn more &rarr;

				.col-1-of-2
					.composition
						img.composition__photo.composition__photo--p1(src="img/nat-1-large.jpg", alt="Photo 1")
						img.composition__photo.composition__photo--p2(src="img/nat-2-large.jpg", alt="Photo 2")
						img.composition__photo.composition__photo--p3(src="img/nat-3-large.jpg", alt="Photo 3")
		section.section-features
			.row
				.col-1-of-4
					.feature-box
						i.feature-box__icon.icon-basic-world
						h3.heading-tertiary.u-margin-bottom-small Explore the world
						p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates natus adipisci, consequuntur.

				.col-1-of-4
					.feature-box
						i.feature-box__icon.icon-basic-compass
						h3.heading-tertiary.u-margin-bottom-small Meet nature
						p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates natus adipisci, consequuntur.

				.col-1-of-4
					.feature-box
						i.feature-box__icon.icon-basic-map
						h3.heading-tertiary.u-margin-bottom-small Find your way
						p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates natus adipisci, consequuntur.

				.col-1-of-4
					.feature-box
						i.feature-box__icon.icon-basic-heart
						h3.heading-tertiary.u-margin-bottom-small Live a healthier life
						p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates natus adipisci, consequuntur.
		section.section-tours#section-tours
			.u-center-class.u-margin-bottom-big
				h2.heading-secondary Most popular tours
			.row
				.col-1-of-3
					.card
						.card__side.card__side--front
							.card__picture.card__picture--1
							h4.card__heading
								span.card__heading-span.card__heading-span--1 The sea explorer
							.card__details
								ul
									li 3 day tour
									li Up to 30 people
									li 2 tour guides
									li Sleep in cozy hostels
									li Difficulty: very easy
						.card__side.card__side--back.card__side--back-1
							.card__cta
								.card__price-box
									p.card__price-only Only
									p.card__price-value $297
								a(href="#popup").btn.btn--white Book now!
				.col-1-of-3
					.card
						.card__side.card__side--front
							.card__picture.card__picture--2
							h4.card__heading
								span.card__heading-span.card__heading-span--2 The forest hiker
							.card__details
								ul
									li 7 day tour
									li Up to 40 people
									li 6 tour guides
									li Sleep in provided tents
									li Difficulty: medium
						.card__side.card__side--back.card__side--back-2
							.card__cta
								.card__price-box
									p.card__price-only Only
									p.card__price-value $497
								a(href="#popup").btn.btn--white Book now!
				.col-1-of-3
					.card
						.card__side.card__side--front
							.card__picture.card__picture--3
							h4.card__heading
								span.card__heading-span.card__heading-span--3 The snow adventurer
							.card__details
								ul
									li 5 day tour
									li Up to 15 people
									li 3 tour guides
									li Sleep in provided tents
									li Difficulty: hard
						.card__side.card__side--back.card__side--back-3
							.card__cta
								.card__price-box
									p.card__price-only Only
									p.card__price-value $897
								a(href="#popup").btn.btn--white Book now!
			.u-center-class.u-margin-top-big
				a(href="#").btn.btn--green Discover all tours
		section.section-stories
			.bg-video
				video.bg-video__content(autoplay muted loop)
					source(src="img/video.mp4" type="video/mp4")
					source(src="img/video.webm" type="video/webm")
					| Your browseris not supported :(
			.u-center-class.u-margin-bottom-big
				h2.heading-secondary We make people genuinely happy
			.row
				.story
					figure.story__shape
						img.story__img(src="img/nat-8.jpg ", alt="Person on a tour")
						figcaption.story__caption Mary Smith
					.story__text
						h3.heading-tertiary.u-margin-bottom-small I had the best week ever with my family
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.row
				.story
					figure.story__shape
						img.story__img(src="img/nat-9.jpg ", alt="Person on a tour")
						figcaption.story__caption Jack Wilson
					.story__text
						h3.heading-tertiary.u-margin-bottom-small WOW! My life is completely different now
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.u-center-class.u-margin-top-big
				a(href="#").btn-text Read all stories &rarr;
		section.section-book
			.row
				.book
					.book__form
						form.form(action="#")
							.u-margin-bottom-medium
								h2.heading-secondary Start booking now
							.form__group
								input.form__input#name(type="text" placeholder="Full name" required)
								label.form__label(for="name") Full name
							.form__group
								input.form__input#email(type="email" placeholder="Email address" required)
								label.form__label(for="email") Email address
							.form__group.u-margin-bottom-medium
								.form__radio-group
									input.form__radio-input#small(type="radio" name="size")
									label.form__radio-label(for="small")
										span.form__radio-button
										| Small tour group
								.form__radio-group
									input.form__radio-input#large(type="radio" name="size")
									label.form__radio-label(for="large")
										span.form__radio-button
										|  Large tour group
							.form__group
								button.btn.btn--green Next step &rarr;
	footer.footer
		.footer__logo-box
			img.footer__logo(src="img/logo-green-2x.png", alt="Full logo")
		.row
			.col-1-of-2
				nav.footer__navigation
					ul.footer__list
						li.footer__item
							a.footer__link(href="#") Company
						li.footer__item
							a.footer__link(href="#") Contact us
						li.footer__item
							a.footer__link(href="#") Careers
						li.footer__item
							a.footer__link(href="#") Privacy policy
						li.footer__item
							a.footer__link(href="#") Terms
			.col-1-of-2
				p.footer__copyright Built by&nbsp;
					a.footer__link(href="#") Jonas Schmedtmann
					|&nbsp;for his online course&nbsp;
					a.footer__link(href="#") Advanced CSS and Sass
					|. Copyright &copy; Jonas Schmedtmann. You are 100% allowed to use this web page for both personal and commercial use, but NOT to claim it as your own design. A credit to original author, Jonas Schmedtmann, is of course highly appreciated!
	.popup#popup
		.popup__content
			.popup__left
				img.popup__img(src="img/nat-8.jpg", alt="Tour photo")
				img.popup__img(src="img/nat-9.jpg", alt="Tour photo")
			.popup__right
				a.popup__close(href="#section-tours") &times;
				h2.heading-secondary.u-margin-bottom-small Start booking now
				h3.heading-tertiary.u-margin-bottom-small Important &ndash; Please read these terms before booking
				p.popup__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a.btn.btn--green(href="#") Book now

